<a href="https://colab.research.google.com/github/PICOTERMS/Algolab/blob/main/Python_Basics_for_SNA_Student_by_Hamidreza_Seddighi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics for SNA Students

by: Hamidreza Seddighi

## What is *Python*?
Python is an **interpreted**, object-oriented, **high-level** programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed. (https://www.python.org/doc/essays/blurb/)

Interpreted: An interpreted language is a language in which the implementations execute instructions directly without earlier compiling a program into machine language. (Interpreted vs. Compiled)

High-level: A high-level language (HLL) is a programming language that allows a programmer to develop programmes that are independent of the type of machine they are running on. all these languages are classified as high-level because they are more comparable languages than machine languages.

### Python Versions

It is recommended to use latest version of Python. To download latest version: https://www.python.org/downloads/

You can check your Python version by running `python --version`

Please check Python version on your device in Command Prompt (cmd). Then run the code below.

To run you can use: **Shift + Enter**

In [ ]:
!python --version

Python 3.10.12

## My First Line of Code in Python

To start coding in Python let's use the `print()` syntax. Type anything you like between 2 quotation marks (' or ") and then run.

In [ ]:
print ("Hello World!")

## How to Define a Variable?

Variables are containers for storing data values.
A variable is created the moment you first assign a value to it.

In [ ]:
number = 2
print (number)

my_name = "Hamidreza"
print (my_name)

2
Hamidreza

# Python Basic Data Types

There are 4 basic data types in Python: **Integers**, **Floats**, **Strings** and **Booleans**.

## Numbers in Python

Integers and Floats are used for numeric data.

In [ ]:
x = 5
print (type(x))  # integer - int
print (x)
print (x + 3) #Addition
print (x - 3) #Subtraction
print (x * 2) #Multiplication
print (x / 2) #Division
print (x ** 2) #Exponentiation
print (x // 2) #[Floor-Division] (قطع شده‌ی تقسیم بر عدد سمت راست)
print (x % 2) #Modulo (باقیمانده‌ی تقسیم بر عدد سمت راست)

x = x + 2
print (x)
x += 1    #x = x + 1
print (x)

y = 1.5
print (type(y)) # float - float

<class 'int'>
5
8
2
10
2.5
25
2
1
7
8
<class 'float'>

## Booleans

`True` and `False` are booleans in Python.

![and-or.png]()

In [ ]:
t = True
f = False
print (type (t)) # boolean - bool
print (t and f) #logical AND
print (t or f) #logical OR
print (not t) #logical NOT
print (not f) #logical NOT

<class 'bool'>
False
True
False
True

## Strings

String is a collection of alphabets, words or other characters. string are **immutable** which means they cannot be changed after they are created. Anything between 2 quotation marks (' or ") is a string.

In [ ]:
my_name = "Hamidreza"
print (type(my_name)) #String - str
print (my_name)
print (len(my_name)) #String Length
my_age = "28"
print (my_name + " " + my_age) #Concatenation

# Strings Methods
my_job = "stuDent"
print (my_job.capitalize())
print (my_job.upper())
print (my_job.lower())
print (my_job.upper())
print (my_job.replace("D","ll"))
print (my_job.rjust(13))
print (my_job.center(13))
print (my_name.isalphe())
print (my_age.isnumeric())

# .isupper() , .islower() - Checks if all characters are UPPERCASE , lowercase
# .title() - Makes first letter of each word CAPITAL

my_language = "     Persian    "
print (my_language)
print (len(my_language))
print (my_language.strip())
print (len(my_language.strip()))

<class 'str'>
Hamidreza
9
Hamidreza 28
Student
STUDENT
student
STUDENT
stullent
      stuDent
   stuDent
     Persian
16
Persian
7

# Casting

If you want to specify the data type of a variable, this can be done with casting.
Explicit Type Conversion is also called Type Casting, the data types of objects are converted using predefined functions by the user. In Type Casting, loss of data may occur as we enforce the object to a specific data type.

In [ ]:
a = int(2)
b = int("3")
c = int(4.5)
print (a , b , c)

e = float(2)
f = float("3")
g = float(4.5)
print (e , f , g)

h = str(a)  #Remember -a- was defind as an integer variable
i = str("3")
j = str(4.5)
print (h , i , j)

k = int(True)
l = int(False)
m = bool(1)
n = bool(0)
print (k , l , m , n)

2 3 4
2.0 3.0 4.5
2 3 4.5
1 0 True False

# Python Containers

There are 4 built-in containers in Python: **Lists**, **Dictionaries**, **Sets** and **Tuples**.

## Lists

Lists are used to store multiple items in a single variable. List items are ordered, changeable, and allow duplicate values. List items are indexed, the first item has index [0], the second item has index [1].

**Hint**: The last item has index [-1].

In [ ]:
students = ["Ali", "Nader", "Reza", "Nima" , "Ali"]
print (students)
print (len(students)) #How many items are in the list?
print (students[0])
print (students[1:4]) #Selecting 2nd,3rd and 4th items (index 1,2,3)
print (students[3] , students[-1]) # Last item has index [-1]
students[2] = "Emad" #Changing an item in list
print (students)
students.append("Sajjad") #Adding an item to last index
print (students)
students.pop() #Deleting last item
print (students)
students.pop(2) #Deleting index [2] (3rd item)
print (students)

print (students.index("Nima")) #Getting index of an item
print (students.count("Ali")) #Count an item (How mant "Ali"s are in the list?)
students.remove ("Nima") #Deleting exact item from list
print (students)
students.insert(1 , "Hamid") #Adding an item to specific index
print (students)

students.reverse() #Reverse the list
print (students)
students.sort() #Sorting the list (Alphabetical or Ascending)
print(students)
del(students[0:2]) #Deleting a range of items from list (selected by index)
print (students)

list_of_numbers = [[0, 2, 4],[1, 3, 5]] #lists can include lists
print (list_of_numbers[0][1]) #Selecting a subset from list

['Ali', 'Nader', 'Reza', 'Nima', 'Ali']
5
Ali
['Nader', 'Reza', 'Nima']
Nima Ali
['Ali', 'Nader', 'Emad', 'Nima', 'Ali']
['Ali', 'Nader', 'Emad', 'Nima', 'Ali', 'Sajjad']
['Ali', 'Nader', 'Emad', 'Nima', 'Ali']
['Ali', 'Nader', 'Nima', 'Ali']
2
2
['Ali', 'Nader', 'Ali']
['Ali', 'Hamid', 'Nader', 'Ali']
['Ali', 'Nader', 'Hamid', 'Ali']
['Ali', 'Ali', 'Hamid', 'Nader']
['Hamid', 'Nader']
2

## Dictionaries

Dictionaries are used to store data values in pairs. A dictionary is a collection which is ordered, changeable and do not allow duplicates. Pairs are stored `key:value` format.

In [ ]:
my_ID = {"name": "Hamidreza" , "age": 28 , "nationality" : "Iranian"}
print (my_ID)
print (len(my_ID))
print(my_ID["name"]) #Getting the value of a key
my_ID ["Height"] = 174 #Adding new key and value to dictionary
print (my_ID)
print (my_ID.get("age"))
print (my_ID.get("weight")) #There is no "weight" in keys

{'name': 'Hamidreza', 'age': 28, 'nationality': 'Iranian'}
Hamidreza
{'name': 'Hamidreza', 'age': 28, 'nationality': 'Iranian', 'Height': 174}
28
None
4

## Sets

Sets are used to store multiple items in a single variable. A set is a collection which is unordered, unchangeable, and unindexed. Sets cannot have two items with the same value.

In [ ]:
animals = {"Dog" , "Horse" , "Cat", "Monkey"}
print (animals)
print (len(animals))
animals.add("Mouse") #Adding an element to set
print (animals)
animals.remove("Cat") #Deleting an element from set
print (animals)
animals.pop() #Deleting first element !!!
print (animals)

{'Horse', 'Monkey', 'Cat', 'Dog'}
4
{'Horse', 'Monkey', 'Cat', 'Dog', 'Mouse'}
{'Horse', 'Monkey', 'Dog', 'Mouse'}
{'Monkey', 'Dog', 'Mouse'}

## Tuples

Tuples are used to store multiple items in a single variable. Tuple items are ordered, unchangeable, and allow duplicate values.

In [ ]:
fruits = ("Apple" , "Banana" , "Orange" , "Apple")
print (fruits)
print (len(fruits))
print (fruits[2])

('Apple', 'Banana', 'Orange', 'Apple')
4
Orange

#Conditionals in Python

Conditional statements (`if`, `else`, and `elif`) are fundamental programming constructs that allow you to control the flow of your program based on conditions that you specify. They provide a way to make decisions in your program and execute different code based on those decisions.

Equals: `a == b`

Not Equals: `a != b`

Less than: `a < b`

Less than or equal to: `a <= b`

Greater than: `a > b`

Greater than or equal to: `a >= b`

In [ ]:
a = 5
b = 2
if a > b:
  print ("a is greater than b")
elif b > a:
  print ("b is greater than a")
else:
  print ("a,b are equal")

a is greater than b

#Loops in Python

Loops are a programming element that repeat a portion of code a set number of times until the desired process is complete. Repetitive tasks are common in programming, and loops are essential to save time and minimize errors.

##While loops

With the `while` loop we can execute a set of statements as long as a condition is `True`.

In [ ]:
counter = 1
while counter < 5:
  print (counter ** 2)
  counter += 1

print (counter)

while counter < 9:
  print (counter ** 3)
  counter += 1
  if counter == 7:
    break

print (counter)

1
4
9
16
5
125
216
7

##For loops

A `for` loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
even_numbers = [2,4,6,8,10]
squares = []
for number in even_numbers:
  squares.append(number ** 2)

print (squares)

my_dict = {"cat" : 4 , "human" : 2 , "bee" : 6 , "spider" : 8 , "snail" : 0}
for key in my_dict:
  print (key , ": ", end = "")
  print (my_dict[key])

print ("") # only for separating results

for key, value in my_dict.items():
  print (key , ":" , value)

print ("") # only for separating results

my_routine = ("eat" , "sleep" , "code")
for i in my_routine:
  print (i)

[4, 16, 36, 64, 100]
cat : 4
human : 2
bee : 6
spider : 8
snail : 0

cat : 4
human : 2
bee : 6
spider : 8
snail : 0

eat
sleep
code

###Range function

The `range()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

**Syntax**: `range(start, stop, step)`

`start`:	Optional. An integer number specifying at which position to start. Default is `0`.

`stop`:	Required. An integer number specifying at which position to stop (**not included**).

`step`:	Optional. An integer number specifying the incrementation. Default is `1`.

In [ ]:
print (list(range(5)))
print (list(range(2,7)))
print (list(range(4,20,5)))

[0, 1, 2, 3, 4]
[2, 3, 4, 5, 6]
[4, 9, 14, 19]

A `for` loop is also used for iterating ranges.

In [ ]:
for i in range(5):
  print (i*10)

print ("") # only for separating results

for i in range(0,10,2):
  print (i**2)

0
10
20
30
40

0
4
16
36
64

#Funtions in Python

A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return data as a result.

In [ ]:
def odd_even(x):
  if x%2 == 0:
    return "even"
  else:
    return "odd"

print(odd_even(4))

def sign(x):
  if x > 0:
    return "+"
  elif x < 0:
    return "-"
  else:
    return "0"

print(sign(0))
print(sign(4))
print(sign(-18))

def greeting(name):
  print("Hello " + name + "!")

greeting ("Mehrdad")

even
0
+
-
Hello Mehrdad!

#User Input in Python

We are able to ask the user for input by using `input()` method.

**Remember**: Inputs are strings. to ask numeric inputs we use `int(input())`

In [ ]:
name = input()
print ("Hi " + name)

number = int(input())
print (number*2)

reza
Hi reza
3
6